<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Details of your Booking, <%= @passenger.name %></h1>
    <p>
      Check the following details:
      <%= @flight.display_flight %>
    </p>
    <br>
    If you have any questions, go directly to example.com. Do not reply to this email.
  </body>

</html>