.alert {
 color: red;
}

div.bookingsearchdiv > * {
 padding: 10px;
 font-size: 15px;
 font-weight: bold;
 border-radius: 3px;
}


div.bookingsearchdiv > *:hover {
 background-color: rgb(40, 40, 40);
 color: white;
}


.bookingpassengersdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  gap: 10px;
  background-color: rgb(180, 193, 220);
  border: 2px solid grey;
}


div.bookingfieldandlabel {
 padding: 20px;
}

#create {
  margin-left: 40px;
  margin-bottom: 25px;
}

div.declarebooking {
  background-color: rgb(180, 193, 220);
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px;
  padding: 10px;
  border: 2px solid grey
}

div.onepassengerdiv {
  margin: 20px 5px;
}

